<div class="preheader">
    <p>inserte cosa aqui</p>
</div>
<header class="header">
    <div class="header-logo">
        <img src="assets/img/logo" alt="Logo de la tienda">
    </div>
    <div class="header-search">
        <input type="text" placeholder="Buscar productos...">
        <button class="search-btn">
            <i class="fa-solid fa-magnifying-glass"></i>
        </button>
    </div>
    <div class="header-icons">
        <a href="#" class="icon" title="Iniciar sesión">
            <i class="fa-regular fa-user"></i>
        </a>
        <a href="#" class="icon" title="Carrito de compras">
            <i class="fa-solid fa-cart-shopping"></i>
        </a>
    </div>
</header>

<nav class="categories">
    <ul>
        <li>
            <a href="index.html">Home</a>
        </li>
        <li class="desplegar">
            <a href="Mujer.html">Ropa mujer</a>
            <ul class="submenu">
                <li><a href="#">Vestidos</a></li>
                <li><a href="#">Zapatos</a></li>
                <li><a href="#">Accesorios</a></li>
            </ul>
        </li>
        <li class="desplegar">
            <a href="Infantil.html">Infantil</a>
            <ul class="submenu">
                <li><a href="#">Ropa</a></li>
                <li><a href="#">Juguetes</a></li>
                <li><a href="#">Accesorios</a></li>
            </ul>
        </li>
        <li class="desplegar">
            <a href="Mascotas.html">Mascotas</a>
            <ul class="submenu">
                <li><a href="#">Ropa</a></li>
                <li><a href="#">Juguetes</a></li>
            </ul>
        </li>
    </ul>
</nav>